* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}




.page__centered {
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
}






.header {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.logo__text {
    font-size: 24px;
    display: flex;
    align-items: center;
}

.header__menu {
    width: 740px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu__button {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.section {
    margin-top: 47px;
    margin-bottom: 162px;
}

.top__content {
    display: flex;
    justify-content: flex-start;
}

.title {
    margin-bottom: 20px;
    font-size: 60px;
}

.text {
    margin-bottom: 37px;
    font-size: 20px;
}

.button {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 35px;
    padding-left: 35px;

}

.active__bg {
    color: #F25822;
}

.active__color {
    color: #F25822;
}

.button__text {
    font-size: 15px;
    color: white;
}

.brands {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
}