* {
    margin: 0;
    padding: 0;
}






.page__centered {
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
}






.header {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section {
    margin-top: 47px;
    margin-bottom: 162px;
}

.top__content {
    display: flex;
    justify-content: flex-start;
}

.brands {
    padding-top: 96px;
    padding-bottom: 96px;
}

.brand__line {}









.title {
    margin-bottom: 20px;
}

.text {
    margin-bottom: 37px;
}